<div id="hod">
	<h4><center><u>Message for HOD Desk</u></center></h4>
	<p>
		<img src="" id="himg">
		Department of Computer Science, University of Delhi has the proud privilege of being one of the earliest university departments in the country to offer three years Master of Computer Applications (MCA) programme and two years M.Sc. Computer Science programme at master's level. The department also has a vibrant Ph.D. programme with currently more than 50 research scholars.
	</p>
	<p>
		MCA programme aims to develop core competence for developing high quality software and adapting nascent technologies. The MCA students, as part of their curriculum undertake a project in the industry in their final semester. Projects are undertaken in diverse areas such as Database Systems, Computer Networks and Communication, Software Engineering, E-Business and Graphics. During the project, they are expected to apply their knowledge and experience gained during the course to develop IT applications. The success of our MCA students is well known in the industry. Three decades later, we are proud of our alumni holding top positions in many prominent IT/software companies all over the globe.
	</p>
	<p>
		M.Sc. Computer Science programme is the flagship programme of the Department, aimed at inculcating innovative thinking. The focus of this programme is to develop research skills, in addition to imparting relevant theoretical knowledge and practical skills in the global context. The students complete a Minor project in third semester and a Major project in the fourth semester. Project areas include Algorithms, Parallel Computing, Semantic Web, Computer security, Artificial Intelligence, Computer Networks, Data mining, Text mining, network analytics etc. A decade later, we have more than dozen alumni who have pursuing or completed doctoral studies from prestigious universities in India (DU, IISc, IITs, IIITs etc.), US, Belgium, Japan.
	</p>
	<p>
		The Department is proud to have more than 1K alumni holding important positions in Information Technology industry and academic at national and international levels. We cordially invite students, researchers, academicians, and professionals to join us in cultivating a healthy and competitive learning atmosphere in the campus.
	</p>
	<p>
		Best Wishes.
		Vasudha Bhatnagar
	</p>
</div>