<div id="carousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel" data-slide-to="0" class="active"></li>
		<li data-target="#carousel" data-slide-to="1"></li>
		<li data-target="#carousel" data-slide-to="2"></li>
		<li data-target="#carousel" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="/images/dept1.jpg">
			<div class="carousel-caption">
				<h3>Department Of Computer Science</h3>
			</div>
		</div>	
		<div class="item">
			<img src="/images/dept2.jpg">
			<div class="carousel-caption">
				<h3>Our Staff</h3>
			</div>
		</div>
		<div class="item">
			<img src="/images/dept3.jpg">
			<div class="carousel-caption">
				<h3>Our Students</h3>
			</div>
		</div>
		<div class="item">
			<img src="/images/dept4.jpg">
			<div class="carousel-caption">
				<h3>Events at DUCS</h3>
			</div>
		</div>	
	</div>
	<a href="#carousel" class="left carousel-control" data-slide="prev">
		<span class="sr-only">Prev</span>
	</a>
	<a href="#carousel" class="right carousel-control" data-slide="next">
		<span class="sr-only">Next</span>
	</a>
</div>